html {
    background-color: rgb(47, 47, 47);
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header {
    display: flex;
    border-style: solid;
    border-width: 5px;
    background-color: rgb(47, 47, 47);
    border-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100px;
}

.header-container {
    margin: 0;
    padding: 0;
    margin: 20px;
}

.header-logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 20px;
    height: 80px;
    object-fit: cover;
}

.header-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header-navbar-links{
    display: inline-block; 
    color: white;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.header-navbar-links:hover {
  transform: scale(1.2);
}


.footer {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(55, 0, 255);
    flex-direction: row;
}

.flex-container2 {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 255, 51);
    flex-direction: row;
}
.flex-item {
    border-style: solid;
    border-width: 2px;
    border-color: red;
}