/*
    Aidan Ricen C. Herminigildo (2024-67906)
    BS Computer Science
*/


/* Sets HTML background color as egg-shell white-ish color*/
html {
    background-color: rgb(255, 247, 228);
}

/* Changes font for whole webpage (and removes margins)*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

/*============================================================*/
/* Whole Header container*/
.header {
    display: flex;
    background-color: rgb(47, 47, 47);
    border-bottom-style: solid;
    border-width: 3px;
    border-color: rgb(255, 247, 228);
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 60px;
}

/* Header - Logo container*/
.header-logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    height: 50px;
    object-fit: cover;
    /*box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);*/
}

/* Style for the logo's img */
.header-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/*Adds animation for the header's logo to grow when hovered*/
.header-logo img:hover {
  transform: scale(1.02);
}

/* Header - normal container div*/
.header-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 80px;
    object-fit: cover;
}

/* Styling for name in the header */
.header-title {
    color: white;
    text-decoration: none;
    border: none;
    font-size: 20px;
    font-weight: bolder;
}

/* Styling for divider in the header */
.header-divider {
    color: white;
    text-decoration: none;
    border: none;
    font-size: 30px;
    font-weight: normal;
}

/* Header - Navbar container*/
.header-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
}

/* Styling for the individual links in the navbar*/
.header-navbar-links{
    display: inline-block; 
    color: rgb(255, 247, 228);
    font-weight: normal;
    text-decoration: none;
    border: none;
    transition: transform 0.3s ease;
}

/* Adds animation for the links to grow when hovered*/
.header-navbar-links:hover {
  transform: scale(1.1);
  color: white;
}




/*============================================================*/

.flex-container {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.flex-test {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(69, 59, 44);
}

/* Style for the flex container for the about section*/
.flex-container-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

/*============================================================*/

/* Style for the flex container for the info section*/
.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right-style: solid;
    border-width: 1px;
    border-color: rgb(69, 59, 44);
    height: 500px;
}

/* Info - 1x1 container*/
.info-logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 15px;
    height: 300px;
    object-fit: cover;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
}

/* Style for the 1x1 img */
.info-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(62, 36, 38);
  transition: transform 0.3s ease;
}

/*Adds animation for the header's logo to grow when hovered*/
.info-logo img:hover {
  transform: scale(1.06);
}

/*styling for container of the text under image*/
.info-text-container{
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Styling for the text in the Info*/
.info-top-text{
    color: rgb(62, 36, 38);
    font-weight: bolder;
    border: none;
    align-items: center;
    justify-items: center;
    font-size: 25px;
    margin: 15px;
}

/* Styling for the text in the Info*/
.info-bottom-text{
    color: rgb(62, 36, 38);
    font-weight: normal;
    border: none;
    align-items: center;
    justify-items: center;
    font-size: 15px;
    margin: 1px;
}

/* UP Logo - container*/
.info-university {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 5px;
    height: 60px;
    object-fit: cover;
    /*box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);*/
}

/* Style for the up logo img */
.info-university img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/*============================================================*/

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content-line-container {
    display: flex;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(69, 59, 44);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*============================================================*/

.autobiography-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.autobiography-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.autobiography-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*============================================================*/

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.skills-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.skills-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*============================================================*/

/* Whole footer container*/
.footer {
    display: flex;
    background-color: rgb(47, 47, 47);
    border-top-style: solid;
    border-width: 3px;
    border-color: rgb(255, 247, 228);
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 60px;
}

/* Styling for information in the footer */
.footer-title {
    color: white;
    text-decoration: none;
    border: none;
    font-size: 15px;
    font-weight: normal;
    margin: 20px;
}

/* Styling for divider in the header */
.footer-divider {
    color: white;
    text-decoration: none;
    border: none;
    font-size: 10px;
    font-weight: normal;
}