/*
    Aidan Ricen C. Herminigildo (2024-67906)
    BS Computer Science
*/


/* Sets HTML background color as egg-shell white-ish color*/
html {
    background-color: rgb(255, 247, 228);
}

/* Changes font for whole webpage (and removes margins)*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

/* Whole Header container*/
.header {
    display: flex;
    background-color: rgb(47, 47, 47);
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 60px;
}

/* Header - Logo container*/
.header-logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    height: 50px;
    object-fit: cover;
    /*box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);*/
}

/* Style for the logo's img */
.header-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/*Adds animation for the header's logo to grow when hovered*/
.header-logo img:hover {
  transform: scale(1.02);
}

/* Header - normal container div*/
.header-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 80px;
    object-fit: cover;
}

/* Styling for name in the header */
.header-title {
    color: white;
    text-decoration: none;
    border: none;
    font-size: 20px;
    font-weight: bolder;
}

/* Styling for divider in the header */
.header-divider {
    color: white;
    text-decoration: none;
    border: none;
    font-size: 30px;
    font-weight: normal;
}

/* Header - Navbar container*/
.header-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
}

/* Styling for the individual links in the navbar*/
.header-navbar-links{
    display: inline-block; 
    color: rgb(255, 247, 228);
    font-weight: normal;
    text-decoration: none;
    border: none;
    transition: transform 0.3s ease;
}

/* Adds animation for the links to grow when hovered*/
.header-navbar-links:hover {
  transform: scale(1.1);
  color: white;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.flex-test {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-item-test {
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}

.flex-container2 {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 255, 51);
    flex-direction: row;
}
.flex-item {
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

/* Whole footer container*/
.footer {
    display: flex;
    background-color: rgb(47, 47, 47);
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 60px;
}

/* Styling for information in the footer */
.footer-title {
    color: white;
    text-decoration: none;
    border: none;
    font-size: 15px;
    font-weight: normal;
    margin: 20px;
}

/* Styling for divider in the header */
.footer-divider {
    color: white;
    text-decoration: none;
    border: none;
    font-size: 10px;
    font-weight: normal;
}