html {
    background-color: rgb(255, 247, 228);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.flex-test {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-item-test {
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}

/* Whole Header container*/
.header {
    display: flex;
    background-color: rgb(47, 47, 47);
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100px;
}

/* Header - Logo container*/
.header-logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 20px;
    height: 80px;
    object-fit: cover;
    /*box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);*/
}

/* Style for the logo's img */
.header-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/*Adds animation for the header's logo to grow when hovered*/
.header-logo img:hover {
  animation: logoPulse 1.2s ease;
}
    /* Guide from: https://www.geeksforgeeks.org/css/css-pulse-animation/ */
    @keyframes logoPulse {
        0% {
            transform: scale(1);
        }
        10% {
            transform: scale(1.02);
        }
        15% {
            transform: scale(1.02);
        }
        25% {
            transform: scale(1);
        }
    }

/* Header - normal container div*/
.header-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 80px;
    object-fit: cover;
}

/* Styling for name in the header */
.header-title {
    color: white;
    text-decoration: none;
    border: none;
    font-size: 40px;
    font-weight: bolder;
    transition: transform 0.3s ease;
}

/* Header - Navbar container*/
.header-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
}

/* Styling for the individual links in the navbar*/
.header-navbar-links{
    display: inline-block; 
    color: rgb(255, 247, 228);
    font-weight: normal;
    text-decoration: none;
    border: none;
    transition: transform 0.3s ease;
}

/* Adds animation for the links to grow when hovered*/
.header-navbar-links:hover {
  transform: scale(1.2);
  color: white;
}


.footer {
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    flex-direction: row;
}

.flex-container2 {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 255, 51);
    flex-direction: row;
}
.flex-item {
    border-style: solid;
    border-width: 2px;
    border-color: red;
}